
#center_column_settings_small {

    @media (max-width:767px) {
        display: block !important;
        
        button {
            margin-bottom: 0.5em;
            text-align: left;
            position: relative;

            svg {
                height: 24px;
                position: absolute;
                right: 1em;
            }
        }

        }
}